<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="admin">
    <nav>
        <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
        <a href="{{ url_for('student_management') }}">Student Management</a>
        <a href="{{ url_for('update_student' ) }}">Update Student Details</a>
        <a href="{{ url_for('admin_logout' ) }}">Logout</a>
    </nav>
    <h1>View Students</h1>
    <form action="{{ url_for('student_details') }}" method="POST">

        <label for="student_id">Student ID</label>
        <input type="text" name="student_id"><br><br>

        <label for="semester">Semester</label>
        <select name="semester" id="semester">
            <option value="" selected>All semester</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select><br><br>

        <label for="class_id">Class ID</label>
        <input type="text" name="class_id"><br><br>

        <label for="department">Department</label>
        <input type="text" name="department"><br><br>

        <label for="status">Status</label>
        <select name="status" id="status">
            <option value="" selected>All status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select><br><br>

        <button type="submit" name="action" value="load">Load</button>
        <button type="submit" class="btn-secondary" name="action" value="reset">Reset</button>

    </form>

    <h2>Students</h2>

{% if students %}

<table border="2">

    <thead>
        <tr>
            <th>Student ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Class</th>
            <th>Department</th>
            <th>Semester</th>
            <th>Status</th>
            <th>Address</th>
            <th>Contact</th>
        </tr>
    </thead>

    <tbody>

        {% for student in students %}

        <tr>
            <td>{{ student.student_id }}</td>
            <td>{{ student.full_name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.class_id }}</td>
            <td>{{ student.department }}</td>
            <td>{{ student.semester }}</td>
            <td>{{ student.status }}</td>
            <td>{{student.address}}</td>
            <td>{{student.phone}}</td>
        </tr>

        {% endfor %}

    </tbody>

    
</table>

{% else %}
     
    <p>No students found.</p>

{% endif %}


</body>
</html>