<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="faculty">
    <nav>
        <a href="{{ url_for('faculty_profile' ) }}">Profile</a>
        <a href="{{ url_for('attendance_entry' ) }}">Attendance Entry</a>
        <a href="{{url_for('create_assignment')}}">Create Assignment</a>
        <a href="{{url_for('view_marks')}}">Enter/update/view Marks</a>
        <a href="{{ url_for('faculty_logout' ) }}">Logout</a>
    </nav>

    <h1>Change password</h1>

    <form action="{{ url_for('faculty_change_password' ) }}" method="post">

        {% if not verify %}

            <label for="faculty_id">Faculty ID</label>
            <input type="text" name="faculty_id" required><br><br>

            <label for="password">Old password</label>
            <input type="password" name="password" required><br><br>

            <button type="submit" name="action" value="verify">Submit</button>
        {% endif %}

        

        {% if verify %}

            <label for="faculty_id">Faculty ID</label>
            <input type="text" id="faculty_id" value="{{faculty.faculty_id}}" readonly><br><br>

            <label for="new_password">New password</label>
            <input type="password" name="new_password"><br><br>

            <button type="submit" name="action" value="change">Change Password</button>
        {% endif %} <br><br>

    </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
</body>
</body>
</html>